{% extends 'core/menu.html' %}
{% load static %}


{% block contenido %}

<div class="content">
    <section class="main_articles">
        <article>
            <div class="imgbox">
                <img src="{% static 'core/img/perro.png' %}" class="center-fit" />
            </div>
            <table>
                <tr>
                    <td>
                        <nav id="Nav">


                            
                                <a class="navcenter" href="{% url 'menu_persona' %}">Agregar Usuario</a>
                            
                                <a class="navcenter" href="{% url 'menu_perros' %}">Agregar Perros</a>
                        </nav>
                    </td>
                </tr>

            </table>

</div>
{% endblock contenido %}