{% extends 'core/menu.html' %}

{% block titulo %}
    Ingreso de Postulante
{% endblock titulo %}
{% block contenido %}

<div class="row justify-content-center" style="
width: 100%;
">
    <div class="col-md-6">
        <div class="card">
            <header class="card-header">
                <h4 class="card-title mt-2">Formulario ingreso de Usuario</h4>
            </header>
            <article class="card-body">
                <form method="POST"> 
                    {% csrf_token %}

                    <div class="form-row">
                        <div class="col form-group">
                            <label>RUN </label>
                            <input type="text" class="form-control" name="run" id="run" placeholder="12345678-1" required>
                        </div> <!-- form-group end.// -->
                        <div class="col form-group">
                            <label>Nombre de Usuario</label>
                            <input type="text" class="form-control" name="usuario" id="usuario" placeholder="Usuario" required min="1" maxlength="30">
                        </div> <!-- form-group end.// -->
                    </div> <!-- form-row end.// -->
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Email address</label>
                            <input type="email" class="form-control" name="correo" id="correo" placeholder="email@email.com" required minlength="1" maxlength="100"> 
                            <small class="form-text text-muted">Nunca compartiremos tu email con alguien más.</small>
                        </div>
                        <div class="col form-group">
                                <label>Nombre</label>
                                <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Nombre" required minlength="1" maxlength="50">
                            </div>
                    </div>
                    <!-- form-group end.// -->
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Fecha Nacimiento</label>
                            <input class="form-control" type="date" name="fecha" id="fecha" required>
                        </div> <!-- form-group end.// -->
                        <div class="form-group col-md-6">
                            <div>
                                <label>Telefono</label>
                                <input class="form-control" type="text" name="telefono" id="telefono" minlength="9" maxlength="9" placeholder="123456789" onKeyPress="if (event.keyCode < 48 || event.keyCode > 57)event.returnValue = false;" required/>
                            </div>
                        </div>
                    </div>
                    <!-- form-group end.// -->
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Region</label>
                            <select required class="form-control" id="regiones" name="region" >
                                <optgroup label="This is a group">
                                    <option value="12" selected>This is item 1</option>
                                </optgroup>
                            </select required>
                        </div>

                        <div class="form-group col-md-6">
                            <label>Cuidad</label>
                            <select required class="form-control" id="comunas" name="comuna">
                                <optgroup label="This is a group">
                                    <option value="12" required selected>This is item 1</option>
                                </optgroup>
                            </select required>
                        </div> <!-- form-group end.// -->
                    </div> <!-- form-row.// -->

                    <div class="form-group ">
                        <label>Vivienda</label>
                        <select required class="form-control" name="vivienda" >
                            <option>Seleccione</option>
                            {% for vivienda in viviendas %}
                            <option>{{vivienda.tipo}}</option>
                            {% endfor %}
                        </select>
                    </div> <!-- form-group end.// -->
                    <div class="form-group">
                        <label>Create password</label>
                        <input class="form-control" type="password" name="password" id="password" placeholder="********" minlength="8" maxlength="100">
                    </div> <!-- form-group end.// -->
        </div>



        <div class="form-group">
            <button type="submit" value="Grabar" class="btn btn-primary btn-block"> Register </button>
        </div> <!-- form-group// -->
        </form>
        </article> <!-- card-body end .// -->
    <a href="{% url 'menu_persona' %}">Volver al Menú</a>
    {% if respuesta %}
       <h1>El registro se ha guardado correctamente</h1>
    {% endif %}
    
{% endblock contenido %}